In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False

In [2]:
#导入相关文件
data = pd.read_csv("../data/data.csv")

In [3]:
data.head()

      kind        time  cnt  kind_num
0  flavor1  2015-02-10    2         1
1  flavor1  2015-02-15    1         1
2  flavor1  2015-02-27    2         1
3  flavor1  2015-03-02    1         1
4  flavor1  2015-03-18    1         1

In [4]:
data['time'] = data['time'].apply(lambda x: pd.to_datetime(x,format="%Y-%m-%d"))
data = data.sort_values(by=['time'])

In [5]:
#训练数据给3,4月份，测试数据预测5月份的7天，14天两种
train = data[data['time'] >= pd.to_datetime("2015-03-01", format="%Y-%m-%d")] [data['time'] <= pd.to_datetime("2015-04-30", format="%Y-%m-%d")]
test = data[data['time'] >= pd.to_datetime("2015-05-01", format="%Y-%m-%d")] [data['time'] <= pd.to_datetime("2015-5-31", format="%Y-%m-%d")]

/home/chenxl/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/chenxl/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
def TestDayNum(data,num):
    date = pd.to_datetime("2015-05-"+str(num+4), format = "%Y-%m-%d")
    test = data[data['time'] < date]
    test = test.groupby(['kind']).sum().reset_index()
    test = test[['kind','cnt']]
    return test

In [7]:
test7 = TestDayNum(test,7)

In [8]:
test7

        kind  cnt
0    flavor1    1
1   flavor11    1
2   flavor14   17
3   flavor17    1
4    flavor2   20
5    flavor3    2
6    flavor4    1
7    flavor5    5
8    flavor6    3
9    flavor7    5
10   flavor8    2
11   flavor9   13

In [9]:
train

         kind       time  cnt  kind_num
109   flavor5 2015-03-01   21         5
294   flavor9 2015-03-01    6         9
182   flavor7 2015-03-01    5         7
219   flavor8 2015-03-01   17         8
148   flavor6 2015-03-01    6         6
409  flavor14 2015-03-01    2        14
435  flavor15 2015-03-01    3        15
3     flavor1 2015-03-02    1         1
149   flavor6 2015-03-02    1         6
295   flavor9 2015-03-02    1         9
220   flavor8 2015-03-03    2         8
347  flavor11 2015-03-03    1        11
150   flavor6 2015-03-03    1         6
221   flavor8 2015-03-04    1         8
296   flavor9 2015-03-04    2         9
110   flavor5 2015-03-04    2         5
348  flavor11 2015-03-05    1        11
183   flavor7 2015-03-05    1         7
60    flavor3 2015-03-15    1         3
297   flavor9 2015-03-16    1         9
222   flavor8 2015-03-16    1         8
61    flavor3 2015-03-17    1         3
441  flavor17 2015-03-17    1        17
410  flavor14 2015-03-17    5        14
223   flavor8 2015-03-17    1         8
224   flavor8 2015-03-18    1         8
4     flavor1 2015-03-18    1         1
298   flavor9 2015-03-18    1         9
62    flavor3 2015-03-19    1         3
225   flavor8 2015-03-20    1         8
..        ...        ...  ...       ...
87    flavor4 2015-04-25    1         4
418  flavor14 2015-04-26    1        14
251   flavor8 2015-04-26   24         8
437  flavor15 2015-04-26    1        15
159   flavor6 2015-04-27    5         6
35    flavor2 2015-04-27    2         2
121   flavor5 2015-04-27    8         5
252   flavor8 2015-04-27    3         8
388  flavor12 2015-04-27    1        12
11    flavor1 2015-04-28    1         1
253   flavor8 2015-04-28    3         8
310   flavor9 2015-04-28    1         9
442  flavor17 2015-04-28    8        17
122   flavor5 2015-04-28    1         5
419  flavor14 2015-04-28   21        14
186   flavor7 2015-04-28    1         7
362  flavor11 2015-04-28    4        11
254   flavor8 2015-04-29    1         8
420  flavor14 2015-04-29    3        14
453  flavor22 2015-04-29    1        22
363  flavor11 2015-04-29    1        11
364  flavor11 2015-04-30    1        11
160   flavor6 2015-04-30    1         6
88    flavor4 2015-04-30    2         4
36    flavor2 2015-04-30    4         2
255   flavor8 2015-04-30    1         8
123   flavor5 2015-04-30    2         5
12    flavor1 2015-04-30    2         1
421  flavor14 2015-04-30    3        14
389  flavor12 2015-04-30    2        12

[174 rows x 4 columns]